/* CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* End of CSS Reset*/

body {
  font-size: 1.2rem;
  min-width: 320px;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  background-color: #57385c;
  font-family: 'Calistoga', serif;
}

button, input[type=submit] {
  padding: 5px 10px 3px 10px;
}

input[type="text"], input[type="number"] {
  padding: 5px;
  display: block;
  margin-bottom: 1rem;
  color: #515151;
}

button.icon {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
}

#nameFilter {
  width: 100%;
  box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent,0 0 transparent,0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);
}

#nameFilter:focus {
  outline: none;
}

table {
  background-color: #a75265;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent,0 0 transparent,0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);
}

table tr {
  background-color: #febe7e;
}

table th {
  padding-top: 10px;
  font-weight: normal;
  min-width: 44px;
}

table th.name, table th.points {
  width: 100%;
}

table tr td {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

table tr:last-child td {
  padding-bottom: 10px;
}


table th button {
  border: none;
  cursor: pointer;
  background-color: #f3d3b6;
  border-radius: 6px;
  color: gray;
  font-size: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

table th button:hover {
  background-color: white;
  color: black;
}

table th button.selected {
  background-color: #e9e9ed;
  color: black;
  cursor: default;
}

table td.name a {
  text-decoration: none;
  color: black;
  display: block;
  border-radius: 6px;
}

table td.name a:hover {
  background-color: #f3d3b6;
}

table td.points {
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

table td.name, table td.points {
  text-align: center;
}


table tbody button {
  border-radius: 10px;
  background-color: #ec7263;
  border: 0;
  color: #febe7e;
  margin-right: auto;
  margin-left: auto;

}

table tbody button:hover {
  background-color: #a65045;
}

.popup_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  display: grid;
  place-content: center;
}

.popup {
  border-radius: 1rem;
  background-color: #febe7e;
  padding: 1rem 2rem 1rem 2rem;
  border: 1rem #a75265 solid;
  z-index: 1;
  box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent,0 0 transparent,0 20px 25px -5px rgb(0 0 0/0.1),0 8px 10px -6px rgb(0 0 0/0.1);
}

.popup_background {
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  inset: 0px;
}

.popup h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.popup .buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.popup .buttons .secondary {
  background: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.popup p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.popup p.points {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.add_user {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.message {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

/* styles changes for tablet and desktop */
@media (min-width: 768px) {
  body {
    padding: 1rem;
  }

  #nameFilter {
    border-radius: 6px;
    border-style: solid;
  }

  table {
    border-radius: 6px;
  }

  table tr td:first-child {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  table tr td:last-child {
  padding-right: 1rem;
  }

  button.icon {
    margin-left: 1rem;
  }

  table td.name a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

  }
  .add_user {
    margin-right: 0;
  }
}